trials/assignment3/cs231n/datasets/imagenet_val_25.npz
trials/assignment3/cs231n/datasets/coco_captioning/
trials/assignment3/cs231n/__pycache__/

trials/code/a3/cs231n/datasets/imagenet_val_25.npz
trials/code/a3/cs231n/datasets/coco_captioning/
trials/code/a3/cs231n/__pycache__/

